@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TIENDA ONLINE <img src="~/Content/images/shoping.png" width="100px"/></h1>  
    <p class="lead">Bienvenido a la mejor y mas completa tienda online con toda la variada de productos que puedas necesitar</p>
    <p>
        @Html.ActionLink("Visita nuestros productos", "Index", "Productos", new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¿Eres nuevo aquí?</h2>
        <p>
            No esperes más y create una cuenta totalmente gratuita para estar informado de todas nuestras novedades, productos y ofertas.
        </p>
        <p>
            @Html.ActionLink("Registrate", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>¿Quieres saber más?</h2>
        <p>Si quieres saber más sobre nosotros, nuestra misión y nuestros valores puedes decubrilo en nuestra descripción.</p>
        <p>
            @Html.ActionLink("Acerca de", "About", "Home")
        </p>
    </div>
    <div class="col-md-4">
        <h2>¿Quieres vender?</h2>
        <p>Si tu tambien quieres crear o expandir tu negocio, no dudes en contactar con nosotros y te contaremos como.</p>
        <p>
            @Html.ActionLink("Contacto", "Contact", "Home")
        </p>
    </div>
</div>